body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

*{
    margin: 8px;
}

#container{
    display: flex;
    justify-content: center;
    align-items: center;    
    flex-direction: column;
    border-radius: 10%;
    background-color: #dcdcdc;
    height: 250px;
    width: 270px;
}

input{
    padding: 10px;
    border-radius: 4px;
    border: 0px;
    font-weight: bold;
}

button{
    font-size: 15px;
    width: 60px;
    font-weight: bold;
    border-radius: 5px;
}

button:hover{
    background-color: black;
    color: white;
}